# Lanuv: Excel into Pandas 
[http://hayd.github.io/2013/pandas-json/]

In [1]:
import pandas as pd
import numpy as np
import re
import json
import requests

In [2]:
f = 'Anfrage_Rentmeister.xlsx'
df = pd.read_excel(f, sheetname='NO2_JMW')
df.shape

(153, 11)

In [3]:
df.columns
# df.sort_values(by='2014')

Index([   'Stationscode',    'Stationsname',      'Schadstoff',
               'Einheit',       'dataGroup',              2014,
                    2015, 'TYPE_OF_STATION',    'TYPE_OF_AREA',
                 'Länge',          'Breite'],
      dtype='object')

In [4]:
df.head(1)

,Stationscode,Stationsname,Schadstoff,Einheit,dataGroup,2014,2015,TYPE_OF_STATION,TYPE_OF_AREA,Länge,Breite
0,DENW002,Datteln-Hagem,Stickstoffdioxid,µg/m³,halb- oder stündliche Messung,21.1261,20.3173,Hintergrund,vorstädtisches Gebiet,7.331405,51.641383

In [5]:
# Städte rausziehen 

stadt = df['Stationsname'].str.split(' ').str.get(0)
stadt2 = stadt.str.split('-').str.get(0)

df['Stadt'] = stadt2
df['Stadt'].tail()

148    Düsseldorf
149     Paderborn
150       Bottrop
151      Schwerte
152         Herne
Name: Stadt, dtype: object

In [6]:
df.columns

Index([   'Stationscode',    'Stationsname',      'Schadstoff',
               'Einheit',       'dataGroup',              2014,
                    2015, 'TYPE_OF_STATION',    'TYPE_OF_AREA',
                 'Länge',          'Breite',           'Stadt'],
      dtype='object')

In [7]:
df.columns = ['Stationscode', 'Stationsname','Schadstoff', 'Einheit', 'dataGroup', 'Jahr-2014', 'Jahr-2015', 'TYPE_OF_STATION', 'TYPE_OF_AREA', 'Länge', 'Breite', 'Stadt']

In [8]:
df.head(2)

,Stationscode,Stationsname,Schadstoff,Einheit,dataGroup,Jahr-2014,Jahr-2015,TYPE_OF_STATION,TYPE_OF_AREA,Länge,Breite,Stadt
0,DENW002,Datteln-Hagem,Stickstoffdioxid,µg/m³,halb- oder stündliche Messung,21.1261,20.3173,Hintergrund,vorstädtisches Gebiet,7.331405,51.641383,Datteln
1,DENW006,Lünen-Niederaden,Stickstoffdioxid,µg/m³,halb- oder stündliche Messung,27.438,24.3654,Hintergrund,vorstädtisches Gebiet,7.569838,51.592206,Lünen

In [9]:
# df.columns
# df = df.drop(['Stationscode','Stationsname', 'Schadstoff', 'Einheit', 'dataGroup', 'Jahr-2014', 'Jahr-2015', 'TYPE_OF_STATION', 'TYPE_OF_AREA', ] , axis=1)
df.head()

,Stationscode,Stationsname,Schadstoff,Einheit,dataGroup,Jahr-2014,Jahr-2015,TYPE_OF_STATION,TYPE_OF_AREA,Länge,Breite,Stadt
0,DENW002,Datteln-Hagem,Stickstoffdioxid,µg/m³,halb- oder stündliche Messung,21.1261,20.3173,Hintergrund,vorstädtisches Gebiet,7.331405,51.641383,Datteln
1,DENW006,Lünen-Niederaden,Stickstoffdioxid,µg/m³,halb- oder stündliche Messung,27.438,24.3654,Hintergrund,vorstädtisches Gebiet,7.569838,51.592206,Lünen
2,DENW008,Dortmund-Eving,Stickstoffdioxid,µg/m³,halb- oder stündliche Messung,27.6639,26.5309,Hintergrund,städtisches Gebiet,7.457463,51.536911,Dortmund
3,DENW010,Unna-Königsborn,Stickstoffdioxid,µg/m³,halb- oder stündliche Messung,20.9525,20.9618,Hintergrund,vorstädtisches Gebiet,7.693835,51.547495,Unna
4,DENW021,Bottrop-Welheim,Stickstoffdioxid,µg/m³,halb- oder stündliche Messung,27.3434,26.3245,Industrie,städtisches Gebiet,6.976908,51.525963,Bottrop

In [10]:
bindestrich_2014 = df[df['Jahr-2014']== '-']
bindestrich_2014.shape
# 2014 13 Stationen mit '-'

(13, 12)

In [11]:
bindestrich_2015 = df[df['Jahr-2015']== '-']
bindestrich_2015.shape

# 2015 11 Stationen mit '-'

(11, 12)

In [12]:
df[(df['Jahr-2014'] == '-') & (df['Jahr-2015'] == '-')]
# Keine Station 2014 und 2015 mit '-'

Empty DataFrame
Columns: [Stationscode, Stationsname, Schadstoff, Einheit, dataGroup, Jahr-2014, Jahr-2015, TYPE_OF_STATION, TYPE_OF_AREA, Länge, Breite, Stadt]
Index: []

In [13]:
clean_year = df[['Jahr-2014', 'Jahr-2015']]

In [14]:
clean_year['Jahr-2014'] = pd.to_numeric(clean_year['Jahr-2014'], errors='coerce')

/usr/local/lib/python3.4/dist-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [15]:
clean_year['Jahr-2015'] = pd.to_numeric(clean_year['Jahr-2015'], errors='coerce')
# clean_year.applymap(lambda x: isinstance(x, (int, float)))clean_year = pd.to_numeric(clean_year['Jahr-2015'], errors='coerce')
# clean_year.applymap(lambda x: isinstance(x, (int, float)))

/usr/local/lib/python3.4/dist-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [16]:
clean_year.dtypes

Jahr-2014    float64
Jahr-2015    float64
dtype: object

In [17]:
clean_year['Jahr-2014'] = clean_year['Jahr-2014'].where(clean_year['Jahr-2014'] > 0, np.nan)
clean_year['Jahr-2014'][0]

/usr/local/lib/python3.4/dist-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

21.126100000000001

In [18]:
clean_year['Jahr-2015'] = clean_year['Jahr-2015'].where(clean_year['Jahr-2015'] > 0, np.nan)
clean_year['Jahr-2015'][0]

/usr/local/lib/python3.4/dist-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

20.317299999999999

In [19]:
df['c-2014'] = clean_year['Jahr-2014']
df['c-2015'] = clean_year['Jahr-2015']

In [20]:
df['id'] = df.index
# df.index = df['Stationsname']

In [21]:
# Grenzwert 40 überschritten?

drueber = df[df['c-2014'] >40]
drueber.shape

# 2014 wurde der Grenzwert an 64 Messstationen überschritten

(64, 15)

In [22]:
# Welches sind die Stationen mit den höchsten Messwerten?
drueber_s = drueber.sort_values(by='c-2014', ascending = False)

In [23]:
# 2015 Höchste Grenzwerte?
top_2015 = df.sort_values(by='c-2015', ascending=False)
drueber_2015 = top_2015[top_2015['c-2015'] >40]
drueber_2015_staedte = drueber_2015.groupby('Stadt').agg(['count'])
drueber_2015_staedte.sort_values(by=[('Stationsname','count')], ascending=False).head(5)

,Stationscode,Stationsname,Schadstoff,Einheit,dataGroup,Jahr-2014,Jahr-2015,TYPE_OF_STATION,TYPE_OF_AREA,Länge,Breite,c-2014,c-2015,id
,count,count,count,count,count,count,count,count,count,count,count,count,count,count
Stadt,,,,,,,,,,,,,,
Köln,10,10,10,10,10,10,10,10,10,10,10,9,10,10
Essen,6,6,6,6,6,6,6,6,6,6,6,6,6,6
Düsseldorf,4,4,4,4,4,4,4,4,4,4,4,4,4,4
Dortmund,4,4,4,4,4,4,4,4,4,4,4,4,4,4
Paderborn,3,3,3,3,3,3,3,3,3,3,3,2,3,3

In [24]:
# Wie viele Messstellen wo? 

mess = df.groupby('Stadt').agg(['count'])
mess.sort_values(by=[('Stationsname','count')], ascending=False).head(5)

,Stationscode,Stationsname,Schadstoff,Einheit,dataGroup,Jahr-2014,Jahr-2015,TYPE_OF_STATION,TYPE_OF_AREA,Länge,Breite,c-2014,c-2015,id
,count,count,count,count,count,count,count,count,count,count,count,count,count,count
Stadt,,,,,,,,,,,,,,
Düsseldorf,17,17,17,17,17,17,17,17,17,17,17,7,7,17
Köln,15,15,15,15,15,15,15,15,15,15,15,14,14,15
Essen,13,13,13,13,13,13,13,13,13,13,13,13,12,13
Dortmund,6,6,6,6,6,6,6,6,6,6,6,6,6,6
Duisburg,6,6,6,6,6,6,6,6,6,6,6,6,6,6

In [25]:
# Next step: Anteil der Stationen mit überschrittenem Grenzwert an der Anzahl der Stationen berechnen

In [26]:
# df = df.drop(['year_2014','year_2015'], axis=1)

In [27]:
no2 = df[['Stationsname', 'Stadt', 'Schadstoff', 'Einheit', 'c-2014', 'c-2015', 'TYPE_OF_STATION', 'TYPE_OF_AREA', 'Länge', 'Breite', 'id']]
no2.columns

Index(['Stationsname', 'Stadt', 'Schadstoff', 'Einheit', 'c-2014', 'c-2015',
       'TYPE_OF_STATION', 'TYPE_OF_AREA', 'Länge', 'Breite', 'id'],
      dtype='object')

In [28]:
no2.head()

,Stationsname,Stadt,Schadstoff,Einheit,c-2014,c-2015,TYPE_OF_STATION,TYPE_OF_AREA,Länge,Breite,id
0,Datteln-Hagem,Datteln,Stickstoffdioxid,µg/m³,21.1261,20.3173,Hintergrund,vorstädtisches Gebiet,7.331405,51.641383,0
1,Lünen-Niederaden,Lünen,Stickstoffdioxid,µg/m³,27.4380,24.3654,Hintergrund,vorstädtisches Gebiet,7.569838,51.592206,1
2,Dortmund-Eving,Dortmund,Stickstoffdioxid,µg/m³,27.6639,26.5309,Hintergrund,städtisches Gebiet,7.457463,51.536911,2
3,Unna-Königsborn,Unna,Stickstoffdioxid,µg/m³,20.9525,20.9618,Hintergrund,vorstädtisches Gebiet,7.693835,51.547495,3
4,Bottrop-Welheim,Bottrop,Stickstoffdioxid,µg/m³,27.3434,26.3245,Industrie,städtisches Gebiet,6.976908,51.525963,4

In [29]:
no2.columns = ['name', 'stadt', 'stoff', 'einheit', 'jahr_2014', 'jahr_2015', 'typ','gebiet', 'x', 'y', 'id']
no2 = no2.sort_values(by='jahr_2015', ascending=False)
no2.tail(20)

,name,stadt,stoff,einheit,jahr_2014,jahr_2015,typ,gebiet,x,y,id
19,Netphen (Rothaargebirge),Netphen,Stickstoffdioxid,µg/m³,4.8150,6.7267,Hintergrund,ländlich regional,8.191932,50.930328,19
18,Simmerath (Eifel),Simmerath,Stickstoffdioxid,µg/m³,5.7294,5.9522,Hintergrund,ländlich regional,6.281069,50.653236,18
53,Essen Hombrucher Straße 21/23,Essen,Stickstoffdioxid,µg/m³,55.3510,NaN,Verkehr,städtisches Gebiet,7.047134,51.457314,53
62,Bielefeld Stapenhorststraße 59,Bielefeld,Stickstoffdioxid,µg/m³,37.4714,NaN,Verkehr,städtisches Gebiet,8.521576,52.026236,62
68,Bottrop Peterstraße,Bottrop,Stickstoffdioxid,µg/m³,37.6842,NaN,Verkehr,städtisches Gebiet,6.924268,51.519262,68
90,Köln-Junkersdorf Jungbluthbrücke,Köln,Stickstoffdioxid,µg/m³,36.6912,NaN,Verkehr,städtisches Gebiet,6.850280,50.930950,90
106,Recklinghausen Kaiserwall,Recklinghausen,Stickstoffdioxid,µg/m³,NaN,NaN,Verkehr,städtisches Gebiet,7.201686,51.613624,106
112,Schwerte Hörder Straße,Schwerte,Stickstoffdioxid,µg/m³,45.4900,NaN,Verkehr,städtisches Gebiet,7.563630,51.446540,112
114,Emmerich-Elten Schmidtstraße 3,Emmerich,Stickstoffdioxid,µg/m³,36.3481,NaN,Verkehr,städtisches Gebiet,6.160480,51.872400,114
121,Düsseldorf-Lohausen,Düsseldorf,Stickstoffdioxid,µg/m³,33.1274,NaN,Hintergrund,städtisches Gebiet,6.753747,51.269503,121
129,Düsseldorf Volmerswerther Deich,Düsseldorf,Stickstoffdioxid,µg/m³,29.3290,NaN,Hintergrund,vorstädtisches Gebiet,6.759520,51.184426,129
132,Düsseldorf (Flughafen 1),Düsseldorf,Stickstoffdioxid,µg/m³,NaN,NaN,Hintergrund,städtisches Gebiet,6.766450,51.271822,132
133,Düsseldorf (Flughafen 2),Düsseldorf,Stickstoffdioxid,µg/m³,NaN,NaN,Hintergrund,städtisches Gebiet,6.763922,51.269125,133
134,Düsseldorf (Flughafen 3),Düsseldorf,Stickstoffdioxid,µg/m³,NaN,NaN,Hintergrund,städtisches Gebiet,6.753858,51.269567,134
135,Düsseldorf (Flughafen 4),Düsseldorf,Stickstoffdioxid,µg/m³,NaN,NaN,Hintergrund,vorstädtisches Gebiet,6.769639,51.262039,135
136,Düsseldorf (Flughafen 5),Düsseldorf,Stickstoffdioxid,µg/m³,NaN,NaN,Hintergrund,vorstädtisches Gebiet,6.810644,51.315067,136
137,Düsseldorf (Flughafen 6),Düsseldorf,Stickstoffdioxid,µg/m³,NaN,NaN,Hintergrund,vorstädtisches Gebiet,6.824336,51.315061,137
138,Düsseldorf (Flughafen 7),Düsseldorf,Stickstoffdioxid,µg/m³,NaN,NaN,Hintergrund,städtisches Gebiet,6.809969,51.289739,138
139,Düsseldorf (Flughafen 8),Düsseldorf,Stickstoffdioxid,µg/m³,NaN,NaN,Hintergrund,städtisches Gebiet,6.786350,51.301569,139
152,Herne Recklinghauser Straße 4/6,Herne,Stickstoffdioxid,µg/m³,NaN,NaN,Verkehr,städtisches Gebiet,7.150192,51.543008,152

In [31]:
no2.to_csv('no2_c.csv')